%h1 The first roll
%p
  So you have a camera, a pack of films, managed to load the first roll, which can be tricky 
  but more on that later and there's always your local photo dealer to help, and now? 
  Now what? Yeah, pretty hard to shoot the first roll. Actually I can't remember my 
  first roll ever, I guess I was about eleven when my sister and I got cameras from 
  my mom but I didn't get the whole idea. After my short adventure with a digital 
  KonicaMinolta DImage5 I bought first a Practica which didn't last long and then my big love, 
  the Konica AutoReflex T4. But don't ask me what I first shot with it.
%p
  I remember the first roll with my Ricoh 500G very clearly, the Vienna central cemetery it was. 
  Just a few days I bought a waterproof Minolta Weathermatic 35DL for my g/f and we wasted 
  the film that was already in with takes photos of each other one after the other.
%p
  Go, waste you first film and come back afterwards. You won't regret it. But when doing so
  try to remember as much details as possible. Such as what light was it, what time and 
  aperture settings did you use for which frame. If necessary write it down to compare later. 
  I never did, but you might learn faster that way. And for most old cameras that had 
  no builtin light meter yet, you need to know your light. And above all you need to know 
  what bokeh to expect with what aperture setting. Out on the streets shutter speed, 
  aperture and focus are the only things you can control and you must be able to image 
  what the result will look like. You won't have the time for a second shot in most situations.
%p
  As Wikipedia states:
  %quote
    The aperture stop of a photographic lens can be adjusted to control the amount of 
    light reaching the film or image sensor. In combination with variation of shutter speed, 
    the aperture size will regulate the film's degree of exposure to light.
    Typically, a fast shutter speed will require a larger aperture to ensure sufficient light exposure,
    and a slow shutter speed will require a smaller aperture to avoid excessive exposure.

%h2 Shutter Speed
%p
  For time is the most boring factor to work with. Except at night where you can do 
  long time exposures and suddenly have a lot more time available. It's pretty simple, 
  the more time the more light will hit your film and more more exposed the frame will be. 
  There are a few rules you should know:
%p 
  One stop on the time scale is one stop on the aperture scale. It means that 1/60 seconds 
  with F4 is (in aspects of the amount of light) equal to 1/30 with F5.6 
  and 1/15 with F8 and 1/8 with F11.
%p
  To shoot from your hand a time of 1/60 for SLR (due to the mirror) and 1/15 for 
  rangefinders should be your limit to have a clear and sharp result. 
  If you want to have blurry photos (maybe a night together with a flash) use 1/8 
  and be surprised about the results.

%h2 Aperture
%p 
  As we just learnt there's a direct relation between time and aperture. 
  But what's the difference between a F1.4, F8 and F22? A larger aperture like F1.4 
  will be a larger hole that the light comes through. Now this light comes primarily 
  from the point or object that we focused, our focus plane. Everything that's before or 
  after the focus plane will of course send light but with the larger aperture it's more 
  diffuse than the light from the focus plane. E.g. if I portrait someone on a large place 
  with objects in the background, the person will be focused and the background object will 
  be sharp if I use a small aperture like F22 and blurry if I use F3.5. 
  We call this blurry effect bokeh and you should use it to send the viewer's eye to 
  the focused object. On the other hand, if you don't have the time to focus 
  like in street photography or if you do macro photography, then you will often use a small 
  aperture like F16 or F22.

%h2 Focus
%p
  There were a few things about focus in the aperture section, time to roll up 
  the missing rules and regulations. And there are plenty. First of all, don't do 
  auto-focus except e.g. in sports or kids-gone-mad photography.
