
%h1 One for each occasion

%p
  When asked how many cameras I own I always say "One for each occasion". And there are more occassions than most people can think of.
  What's the point of using a big Hasselblad for a nice day on the beach with friends? Or a Lomo LC-A for photographing a wedding?
  Vintage cameras cover a much broader area of types and uses than today's digital cameras do and this chapter will give you a few hints what types of camera you might want to try out.

%h2 Always with me

%p
  Let's start with the hardest type of camera. The always-with-me camera is one I never let at home. I'd even take into the shower if it was waterproof. It's a constant in my pockets, like my keys and wallet. Despite being a constant, if often changes, depending on my film-stock and the weather conditions I have an Agfa Isolette one day and a Lomo LCA the next day.
%p
  Unless you are carrying a big bag with you anyways, it must be a small camera and still deliver some decent quality. Digital cameras meet the size requirement easily but often lack quality, have a slow autofocus or slow film speed. There are only a handful of expensive digital cameras that offer features like manual focus or inter-changable lenses.
%p
  With vintage cameras you can go as small as a Minox 35 or Rollei XF35 with lenses that are hid in the body, or exchangable lenses on a Olympus PEN and Leica. On the very budget side we have rangefinders from the 70ies like the Ricoh 500G or ...

%h2 Sunny day in the park

%p
  Let's change the scenery, get a bit more specific and spend a sunny day in the park with friends.
  Many people will be sitting around you, kids and dogs running through, someone playing frisbie. All in all, a lot of things to photograph.
  You might take portraits of your friends and want a good bokeh as you don't want to picture other people but you friends. You want to be fast enough to catch kids stumbling over dogs, at least fast enought to photograph that fun. And you need a safe distance to those fully concentrated on some sport gear.
%p
  A SLR with a standard 50mm lense and a 100mm or 135mm lense will be your perfect tool for that occasion. For a better bokeh on portraits use a ND filter that reduces the light by a few steps.
  You might of course use a zoom lense as well but I usually do one thing at a time and not jump from close to far distance. So I carry two lenses and with my 50mm f/1.4 I'm well-equipped if the party goes into the blue hours.

%h2 Sports!

%p
  To be honest, sports is something I rarely do and more rarely photograph. Nonetheless I have great photos from volleyball matches, bicycle races and other activities like swimming, climbing or jogging.
  There are a few points to think about before starting your day on the fields:
  %ul
%h1 One for each occasion

%p
  When asked how many cameras I own I always say "One for each occasion". And there are more occassions than most people can think of.
  What's the point of using a big Hasselblad for a nice day on the beach with friends? Or a Lomo LC-A for photographing a wedding?
  Vintage cameras cover a much broader area of types and uses than today's digital cameras do and this chapter will give you a few hints what types of camera you might want to try out.

%h2 Always with me

%p
  Let's start with the hardest type of camera. The always-with-me camera is one I never let at home. I'd even take into the shower if it was waterproof. It's a constant in my pockets, like my keys and wallet. Despite being a constant, if often changes, depending on my film-stock and the weather conditions I have an Agfa Isolette one day and a Lomo LCA the next day.
%p
  Unless you are carrying a big bag with you anyways, it must be a small camera and still deliver some decent quality. Digital cameras meet the size requirement easily but often lack quality, have a slow autofocus or slow film speed. There are only a handful of expensive digital cameras that offer features like manual focus or inter-changable lenses.
%p
  With vintage cameras you can go as small as a Minox 35 or Rollei XF35 with lenses that are hid in the body, or exchangable lenses on a Olympus PEN and Leica. On the very budget side we have rangefinders from the 70ies like the Ricoh 500G or ...

%h2 Sunny day in the park

%p
  Let's change the scenery, get a bit more specific and spend a sunny day in the park with friends.
  Many people will be sitting around you, kids and dogs running through, someone playing frisbie. All in all, a lot of things to photograph.
  You might take portraits of your friends and want a good bokeh as you don't want to picture other people but you friends. You want to be fast enough to catch kids stumbling over dogs, at least fast enought to photograph that fun. And you need a safe distance to those fully concentrated on some sport gear.
%p
  A SLR with a standard 50mm lense and a 100mm or 135mm lense will be your perfect tool for that occasion. For a better bokeh on portraits use a ND filter that reduces the light by a few steps.
  You might of course use a zoom lense as well but I usually do one thing at a time and not jump from close to far distance. So I carry two lenses and with my 50mm f/1.4 I'm well-equipped if the party goes into the blue hours.

%h2 Sports!

%p
  To be honest, sports is something I rarely do and more rarely photograph. Nonetheless I have great photos from volleyball matches, bicycle races and other activities like swimming, climbing or jogging.
  There are a few points to think about before starting your day on the fields:
  %ul
    %li Is it some official event or just friends jogging around the park?
    %li Where is it taking place, a fixed point like a field so you can carry a larger equipment or do I have to move around like for a bicycle race through the city?
    %li Is it a speedy sport like a race or are two russian masterminds playing chess in the park?
    %li Is a permission to photograph required and access all areas included with it? Maybe you can even move among the athlets while they are waiting for their next jump or run.

%h2 Traveling abroad

  %p
    Summer, time to travel, time for festivals, time for long rides in the car. And time to change the equipment in your photobag. Most important, make space for a few more rolls of films. The other important thing is a camera quite close to your always-with-me camera, just a little bit better. And with a strap to have it in you hand all the time. There's nothing worse than spending a minute to get you camera out the bag and ready to photograph a funny car, a fisherboat coming in or some other tourist explaining the loss of his car to a policemen who doesn't understand him.

%h2 Party time!


    %li Is it some official event or just friends jogging around the park?
    %li Where is it taking place, a fixed point like a field so you can carry a larger equipment or do I have to move around like for a bicycle race through the city?
    %li Is it a speedy sport like a race or are two russian masterminds playing chess in the park?
    %li Is a permission to photograph required and access all areas included with it? Maybe you can even move among the athlets while they are waiting for their next jump or run.

%h2 Traveling abroad

  %p
    Summer, time to travel, time for festivals, time for long rides in the car. And time to change the equipment in your photobag. Most important, make space for a few more rolls of films. The other important thing is a camera quite close to your always-with-me camera, just a little bit better. And with a strap to have it in you hand all the time. There's nothing worse than spending a minute to get you camera out the bag and ready to photograph a funny car, a fisherboat coming in or some other tourist explaining the loss of his car to a policemen who doesn't understand him.

%h2 Party time!

