%h1 Position yourself correctly

  %p
    This chapter is one of the easiest to learn and will improve your photos a great deal.
    It's about your point of view when taking a picture and with every change of position the result will be different.

%h2 