--
author: Thomas R. Koll
--
%h1 What you need, and don't need

%p
  For most of you it will be a question about money, unless you are excellent programmer like me.
  The goods news are: You don't need much money. The bad news: You'll soon be an addict.

%h2 Used Cameras

%p
  The number of new cameras put onto the market is decreasing quickly and most of them 
  are quite expensive, so I'll talk about used cameras first. You can get a lot of 
  great cameras on second hand markets for less than €10. I often get a flash and other 
  accessories for free, plus a leather case of course. And for some types of cameras, 
  like post-war medium format folders, you can be really picky about the quality.

%p
  There are a few things you have to check before buying a camera on the market, 
  buying them in a store is risk-free (if they have a lot other cameras and know their stuff) 
  but expensive and boring (unless you like talking with the staff or need information 
  not found on the internets).
%ul
  %li Is the camera and especially the lens clean. Best is to check the lense with B timing
  %li Can you open the film loader, is it clean so the film isn't destroyed when advancing
  %li Can you see the shutter working with having the camera back open
  %li Are the aperture and time wheels working
  %li Is the light meter (if available) still working or do you need new batteries
  %li If there's a battery in, has it leaked and ruined, well, just about everything
  %li Is the film-advancer working
  %li And of course: Does it feel good in you hand
  %li If it has a bellow, is it still in a good condition with no damaged edges

%p
  There are a few more things, depending on the type of camera, but most are easy to fix 
  like over-aged light sealing or leather that has shrunk and looks ugly.
%p
  In general the book is primarily about older cameras that have no fancy stuff like auto-focus 
  or built-in flash. There's good use for auto-focus but for now we can live without. 
  But what we need and get in most cases is an manual settings options. 
  That means you must be able to control shutter speed and aperture yourself and not let 
  the camera do everything. There are exceptions of course like very old cheap box cameras, 
  cheap plastic cameras, high end point and shoot or underwater cameras.

%h2 Film
%p
  We are living in interesting times. On the one hand analogue photography is not dying 
  but shrinking quickly but on the other side there are still new people getting into it. 
  Film has been affected most by this biased situation, unlike the camera production that 
  will simply die in a few years, there are still film manufacturers around and with 
  %em The Impossible Project
    %footnote http://www.the-impossible-project.com/
  that tries to recreate Polaroid films we see new spirit growing.
%p
  I guess the difference between the film and camera business is that films are in 
  constant demand and require less innovation and know-how.
  Anyways, many older photographers who move from analogue to digital sell their stuff 
  and the thing we are interested most in is film. Film that has been habituated in cool 
  and dark places for years, maybe long expired for our very own pleasure as we will learn later. 
  And there are many photo stores who sold their last cameras and now sell off 
  their films on eBay and the classifieds. A great chance for us to buy film for 10¢ a piece, 
  be patient and place only one bid to make the best deals. While writing these lines 
  I actually bought 50 rolls of AGFA Portrait 160 KB-Film 135-12 for €15 only. Not too bad, eh? 
%p
  The store I bring my films to for development has a nice fridge displaying all kinds 
  of sweet and expensive film, but I never bought one single roll from them. 
  And that will never change.
  For the start it doesn't really matter what kind of film you pay. 
  Buy the average ISO100 or ISO200 film from Kodak or Fuji, whatever comes cheaper. 
  You'll learn more about films and what film to use best for what situation later.

%h2 Development
%p
  You have a camera, you have film and maybe already shot the first roll. 
  Time to find a proper store for developing your film. Of course you can go to one 
  of the supermarket chains that still have a photocorner and send your films to a central lab.
  But I always prefer close contact with those who put their hands on my film. 
  I have a store next street that sells lots of used cameras and they develop most films in-house.
  And they scan my films and sometimes I get the whole developing for a little cheaper.
  Please go to your local photo dealer and support them or they switch to digital only.

%p
  I mentioned "scanning films". Yes, my post-processing, if any, is digital. 
  My photos go straight into Apple Aperture, flickr, facebook or whatever. 
  I see print-outs as a waste of paper but if it comes to printing them later I still have my film, 
  can take it my dealer and say him to print frame 4 and 8 in this size and that awesome 
  one-in-a-century shot on frame 38 in mega-size. Or you print it from the digital 
  scan after post-processing it. It's up to you.

%h2 Filmscanners
%p
  If you shoot one or two films a week the whole developing will become the expensive part of 
  you new addiction. Filmscanners can help to reduce costs in long term. 
  Personally I have a Canon 8800F which is a flatbed scanner but has a light unit for transparency scans. 
  The cheapest way to scan your films, especially if you do a lot of medium film like I do. 
  If you stick with 35mm, a specialised film scanner might suit you better.

%h2 What you don't need, for the start
%p 
  Mainly accessory. A flash is OK, maybe a small bag to carry you camera safely but that's all. 
  Later you will learn what a tripod is good for, why every bathroom should actually 
  be a darkroom, what a good (used!) light-meter costs €200 and more or whether you need 
  both the 40mm and 50mm lens for your SLR. There are a lot of semi-religious fights 
  about photography and the technology. Best is to say outside the ring and do a few 
  nice shots of the blood, fighters and number girls ;-)
