--
author: Thomas R. Koll
--
%h1 Photograms

%p
  Photograms are a fascinating darkroom technique which can be learned very quickly and for less money than most other darkroom activities.
  No camera is required, for the start only photographic paper and chemicals to develop them.
  A photogram is a unique image and created by placing opaque or semi-transparent items on light-sensitive paper.
  This is done in a dark room, at most with a light source the light-sensitive layer is not reactive to.
  Once you are happy with the placing, expose the paper to light for a short moment and develop it.
  On the result you will see areas that were exposed turning black while all other areas remain white.

%h2 Experimenting with Materials

%p
  There's an endless number of materials that you can use for you photograms, even transparent things can have some use.
  For example, in my very first series of photograms I used a cheap, broken ActionSampler that I just smashed and used the immer parts.
  It's amazing what you can do with small things like springs, screws, transparent plastics.
  I created a whole story just with those parts and some salt that turned out created a unique detail and athmosphere with its crystalline structure.
  A classic are of course body parts: hands, hairs and profiles are something you can start with.
  If you have too much paper and time to waste you can photogram yourself by spreading about 20 to 30 sheets on the floor, lay on them and have someone operate a flash light.

%h2 Beyond photographic paper

%p
  Did you know there is an endless number of light-sensitives chemicals that you can use? 
  Today's photographic paper is only the result of many experiments in the last two centuries and even before that.
  For the lazy there are light-sensitive liquids that you can order and 